<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Financiera Ahorro</title>
   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/general.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">

    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/index.js"></script>

  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills">
            <li class="nav-item active"><a class="nav-link active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/verLogin">Entrar</a></li>
 	        <li class="nav-item"><a class="nav-link" href="/verRegistro">Registrarse</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Financiera Ahorro</h3>
      </div>

      <div class="jumbotron central text-muted">
        <h1>Financiera Ahorro en Tu Casa</h1>
        <img class='imagen' id='imagen' src="../static/image/familia.jpg" alt="family.jpg">
        <div class="form-group col-md-12 align-center inline">
            <a class="btn btn-lg btn-primary button-ini" href="verRegistro" role="button">Registrarse</a>
            <a class="btn btn-lg btn-primary button-ini" href="verLogin" role="button">Entrar</a>
        </div>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <h4>Financiación en hasta 24 veces</h4>
          <p>Queremos sorprenderte en todo momento con benefícios exclusivos.</p>

          <h4>Promoción de Navidad</h4>
          <p>Desde 7 hasta 30 de diciembro con 30% de descuento.</p>

          <h4>Tu Tarjeta de Crédito</h4>
          <p>Semana Master Card Contactless.</p>
        </div>
      </div>

      <footer class="footer">
        <p>Financiera - Calle Madrid - Madrid</p>
      </footer>

    </div>
  </body>
</html>
