<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Financiera Ahorro</title> 
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/css/principal.css" rel="stylesheet">
    <link href="../static/css/general.css" rel="stylesheet">

    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/buscarFinanc.js"></script>
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-tabs" style="background-color: #666666;">
                    <li class="nav-item active item-activo"><a class="nav-link active" href="/principal">Mis Prestamos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/verSimular">Simular Préstamo</a></li>
                    <li class="nav-item"><a class="nav-link" href="/verInversiones">Mis Inversiones</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Salir</a></li>
                    
                </ul>
            </nav>
            <h3 class="text-muted">Financiera Ahorro</h3>
        </div>

        <div class="jumbotron central">
            <h3 class="text-muted">Mis Préstamos</h3>
        </div>
 
        <footer class="footer">
            <a href="https://www.facebook.com/" class="fa fa-facebook media"></a>
            <a href="https://twitter.com/?lang=es" class="fa fa-twitter media"></a>
            <p>Financiera - Calle Madrid - Madrid</p>
        </footer>
 
    </div>
</body>
 
</html>

